@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamProMedium.woff") format("woff"), url("../fonts/GothamProMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamProBold.woff") format("woff"), url("../fonts/GothamProBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "GothamPro";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "GothamPro";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1178px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 65px;
  height: 72px;
  line-height: 72px;
  font-size: 25px;
  font-weight: 700;
  border-radius: 50px;
  color: #fff;
  background: -o-radial-gradient(49.97% 0.23%, 144.49% 100.07%, #009ED0 0%, #0D81C2 100%);
  background: radial-gradient(144.49% 100.07% at 49.97% 0.23%, #009ED0 0%, #0D81C2 100%);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  padding: 0px 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 11px;
  height: 7px;
  background: url("../img/icons/select.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.section-heading {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #2C344D;
}

.section-heading_w {
  color: #fff;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

.slider.slick-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider.slick-slider .slick-track,
.slider.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slider.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slider.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider.slick-slider .slick-slide {
  position: relative;
}

.slider.slick-slider .slick-arrow {
  width: 20px;
  height: 50px;
  position: absolute;
  top: 50%;
  margin: -25px 0px 0px 0px;
  z-index: 10;
  font-size: 0;
}

.slider.slick-slider .slick-arrow.slick-prev {
  left: 70px;
  background: url("../img/icons/sl-arrow_l.svg") 0 0/100% no-repeat;
}

.slider.slick-slider .slick-arrow.slick-next {
  right: 70px;
  background: url("../img/icons/sl-arrow_r.svg") 0 0/100% no-repeat;
}

.slider.slick-slider .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 65px;
  left: 370px;
}

.slider.slick-slider .slick-dots li {
  margin: 0px 27px 0px 0px;
}

.slider.slick-slider .slick-dots li:last-child {
  margin: 0;
}

.slider.slick-slider .slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #2C344D;
}

.slider.slick-slider .slick-dots li.slick-active button {
  background-color: #2C344D;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  padding: 30px 10px;
  width: 100%;
  height: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  visibility: visible;
  overflow: auto;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 50px;
  width: 100%;
  max-width: 800px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0 no-repeat;
}

.tippy-box[data-animation="fade"][data-state="hidden"] {
  opacity: 0;
}

[data-tippy-root] {
  max-width: calc(100vw - 10px);
}

.tippy-box {
  position: relative;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.4;
  outline: 0;
  -webkit-transition-property: visibility, opacity, -webkit-transform;
  transition-property: visibility, opacity, -webkit-transform;
  -o-transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity;
  transition-property: transform, visibility, opacity, -webkit-transform;
}

.tippy-box[data-placement^="top"] > .tippy-arrow {
  bottom: 0;
}

.tippy-box[data-placement^="top"] > .tippy-arrow:before {
  bottom: -7px;
  left: 0;
  border-width: 8px 8px 0;
  border-top-color: initial;
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow {
  top: 0;
}

.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
  top: -7px;
  left: 0;
  border-width: 0 8px 8px;
  border-bottom-color: initial;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.tippy-box[data-placement^="left"] > .tippy-arrow {
  right: 0;
}

.tippy-box[data-placement^="left"] > .tippy-arrow:before {
  border-width: 8px 0 8px 8px;
  border-left-color: initial;
  right: -7px;
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
}

.tippy-box[data-placement^="right"] > .tippy-arrow {
  left: 0;
}

.tippy-box[data-placement^="right"] > .tippy-arrow:before {
  left: -7px;
  border-width: 8px 8px 8px 0;
  border-right-color: initial;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
}

.tippy-box[data-inertia][data-state="visible"] {
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
       -o-transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
          transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}

.tippy-arrow {
  width: 16px;
  height: 16px;
  color: #333;
}

.tippy-arrow:before {
  content: "";
  position: absolute;
  border-color: transparent;
  border-style: solid;
}

.tippy-content {
  position: relative;
  padding: 5px 9px;
  z-index: 1;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 200;
}

.header__content {
  height: 120px;
  max-width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 370px;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 183px;
          flex: 0 0 183px;
}

.header__logo img {
  max-width: 100%;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  font-weight: 500;
}

.menu__list li {
  margin: 0px 106px 0px 0px;
}

.menu__link {
  color: #000;
  position: relative;
}

.menu__link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 3px;
  width: 0;
  -webkit-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 243px 0px 254px 0px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -30px;
  color: #2C344D;
}

.footer__row a {
  color: #2C344D;
}

.footer__column {
  padding: 0px 30px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.footer__column_narrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.footer__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 0px 0px 16px 0px;
}

.footer__column-content {
  font-size: 20px;
  line-height: 24px;
}

.footer__menu li {
  margin: 0px 0px 8px 0px;
}

.footer__menu li:last-child {
  margin: 0;
}

.footer__column-top {
  margin: 0px 0px 30px 0px;
}

.footer__phones a {
  white-space: nowrap;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__item {
  width: 67px;
  height: 67px;
  border-radius: 50%;
  margin: 0px 24px 0px 0px;
}

.social__item:last-child {
  margin: 0;
}

.social__item_1 {
  background: url("../img/icons/footer/vk.svg") 50%/43px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#009ED0), to(#2C344D));
  background: url("../img/icons/footer/vk.svg") 50%/43px no-repeat, -o-linear-gradient(top, #009ED0 0%, #2C344D 100%);
  background: url("../img/icons/footer/vk.svg") 50%/43px no-repeat, linear-gradient(180deg, #009ED0 0%, #2C344D 100%);
}

.social__item_1:hover {
  background: url("../img/icons/footer/vk.svg") 50%/43px no-repeat, -webkit-gradient(linear, right top, left top, from(#009ED0), to(#2C344D));
  background: url("../img/icons/footer/vk.svg") 50%/43px no-repeat, -o-linear-gradient(right, #009ED0 0%, #2C344D 100%);
  background: url("../img/icons/footer/vk.svg") 50%/43px no-repeat, linear-gradient(270deg, #009ED0 0%, #2C344D 100%);
}

.social__item_2 {
  background: url("../img/icons/footer/wa.svg") 50% 45%/42px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#009ED0), to(#2C344D));
  background: url("../img/icons/footer/wa.svg") 50% 45%/42px no-repeat, -o-linear-gradient(top, #009ED0 0%, #2C344D 100%);
  background: url("../img/icons/footer/wa.svg") 50% 45%/42px no-repeat, linear-gradient(180deg, #009ED0 0%, #2C344D 100%);
}

.social__item_2:hover {
  background: url("../img/icons/footer/wa.svg") 50% 45%/42px no-repeat, -webkit-gradient(linear, right top, left top, from(#009ED0), to(#2C344D));
  background: url("../img/icons/footer/wa.svg") 50% 45%/42px no-repeat, -o-linear-gradient(right, #009ED0 0%, #2C344D 100%);
  background: url("../img/icons/footer/wa.svg") 50% 45%/42px no-repeat, linear-gradient(270deg, #009ED0 0%, #2C344D 100%);
}

.social__item_3 {
  background: url("../img/icons/footer/teleg.svg") 40% 50%/42px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#009ED0), to(#2C344D));
  background: url("../img/icons/footer/teleg.svg") 40% 50%/42px no-repeat, -o-linear-gradient(top, #009ED0 0%, #2C344D 100%);
  background: url("../img/icons/footer/teleg.svg") 40% 50%/42px no-repeat, linear-gradient(180deg, #009ED0 0%, #2C344D 100%);
}

.social__item_3:hover {
  background: url("../img/icons/footer/teleg.svg") 40% 50%/42px no-repeat, -webkit-gradient(linear, right top, left top, from(#009ED0), to(#2C344D));
  background: url("../img/icons/footer/teleg.svg") 40% 50%/42px no-repeat, -o-linear-gradient(right, #009ED0 0%, #2C344D 100%);
  background: url("../img/icons/footer/teleg.svg") 40% 50%/42px no-repeat, linear-gradient(270deg, #009ED0 0%, #2C344D 100%);
}

.main-screen {
  min-height: 100vh;
}

.slider__item {
  min-height: 100vh;
  position: relative;
}

.slider__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.slider__image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(36.48%, rgba(0, 0, 0, 0)), to(#000000));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 36.48%, #000000 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 36.48%, #000000 100%);
  z-index: 10;
}

.slider__content-container {
  min-height: 100vh;
  width: 75%;
  position: relative;
  z-index: 100;
}

.slider__content-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-top: 100vh solid rgba(255, 255, 255, 0.8);
  border-right: 200px solid transparent;
}

.slider__content {
  max-width: 1098px;
  padding: 340px 0px 0px 370px;
}

.slider__title {
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;
  margin: 0px 0px 50px 0px;
}

.slider__text {
  margin: 0px 0px 50px 0px;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
}

.catalog {
  height: 1080px;
  position: relative;
}

.catalog__bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.catalog__content {
  position: relative;
  z-index: 100;
}

.catalog__title {
  padding: 300px 0px 0px 0px;
  margin: 0px 0px 35px 0px;
}

.catalog__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -12.5px;
}

.catalog__column {
  padding: 0px 12.5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  margin: 0px 0px 30px 0px;
}

.catalog__btn {
  text-align: right;
}

.item-catalog {
  padding: 0px 32px;
  height: 192px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
}

.item-catalog__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
  margin: 0px 50px 0px 0px;
}

.item-catalog__image img {
  max-width: 100%;
  max-height: 100%;
}

.item-catalog__description {
  padding: 30px 0px;
}

.item-catalog__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}

.item-catalog__details {
  font-size: 18px;
  line-height: 22px;
}

.item-catalog__details li {
  margin: 0px 0px 13px 0px;
}

.item-catalog__details li:last-child {
  margin: 0;
}

.item-catalog__hover-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 172, 212, 0.8);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.item-catalog__hover-mask:hover {
  opacity: 1;
}

.item-catalog .buttons-action {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-catalog .buttons-action__add-to-cart {
  margin: 0px 20px 0px 0px;
  padding: 0px 70px 0px 25px;
  line-height: 48px;
  font-size: 16px;
  font-weight: 700;
  color: #2C344D;
  border-radius: 50px;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
  background: #fff url("../img/icons/catalog/cart.svg") 97px 50%/29px no-repeat;
}

.item-catalog .buttons-action__add-to-cart:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
  background-color: #eee;
}

.item-catalog .buttons-action__share {
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: transparent url("../img/icons/catalog/share.svg") 50% 50%/26px no-repeat;
  margin: 0px 8.5px 0px 0px;
}

.item-catalog .buttons-action__share:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
  background-color: rgba(0, 0, 0, 0.198);
}

.item-catalog .buttons-action__favorite {
  width: 48px;
  height: 48px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  background: transparent url("../img/icons/catalog/heart-regular.svg") 50% 55%/20px no-repeat;
}

.item-catalog .buttons-action__favorite:hover {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.253);
  background-color: rgba(0, 0, 0, 0.198);
}

.why {
  padding: 190px 0px 200px 0px;
}

.why__title {
  margin: 0px 0px 60px 0px;
}

.why__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -10px;
}

.why__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 10px;
}

.item-why {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2C344D;
}

.item-why__icon {
  margin: 0px 0px 34px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 117px;
          flex: 0 0 117px;
  position: relative;
}

.item-why__icon img {
  max-height: 117px;
}

.item-why__icon-overlay {
  position: absolute;
  top: 7px;
  left: 9px;
}

.item-why__icon-overlay2 {
  position: absolute;
}

.item-why__icon-overlay2_star {
  top: 27px;
  left: 27px;
}

.item-why__icon-overlay2_check {
  top: 37px;
  left: 33px;
}

.item-why__title {
  margin: 0px 0px 5px 0px;
  font-size: 27px;
  line-height: 32px;
  font-weight: 500;
}

.item-why__text {
  font-size: 20px;
  line-height: 24px;
}

.about {
  height: 1080px;
  position: relative;
}

.about__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.about__content-container {
  height: 100%;
  width: 1468px;
  position: relative;
  z-index: 100;
}

.about__content-container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-bottom: 1080px solid rgba(255, 255, 255, 0.8);
  border-right: 200px solid transparent;
}

.about__content {
  max-width: 1098px;
  padding: 330px 0px 100px 370px;
}

.about__title {
  margin: 0px 0px 30px 0px;
}

.about__text {
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #2C344D;
  margin: 0px 0px 50px 0px;
}

.about__text p {
  margin: 0px 0px 30px 0px;
}

.about__text p:last-child {
  margin: 0;
}

.numbers-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -30px;
}

.numbers-about__column {
  padding: 0px 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.numbers-about__highlight {
  margin: 0px 0px 10px 0px;
  font-size: 35px;
  font-weight: 500;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009ED0), to(#2C344D));
  background-image: -o-linear-gradient(#009ED0, #2C344D);
  background-image: linear-gradient(#009ED0, #2C344D);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-color: #009ED0;
}

.numbers-about__highlight span {
  font-weight: 700;
}

.numbers-about__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2C344D;
}

.contacts {
  height: 620px;
  position: relative;
}

.contacts__map img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}

.contacts__map::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 2;
}

.contacts__location-mark {
  position: absolute;
  width: 57px;
  height: 83px;
  z-index: 3;
  top: 50%;
  left: 50%;
}

.contacts__location-mark img {
  position: relative;
  left: 300px;
}

.contacts__container {
  position: relative;
  z-index: 100;
}

.contacts__title {
  padding: 160px 0px 0px 0px;
  margin: 0px 0px 40px 0px;
}

.contact-item {
  margin: 0px 0px 20px 0px;
}

.contact-item:last-child {
  margin: 0;
}

.contact-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
}

.contact-item__icon {
  margin: 0px 20px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
}

.contact-item__icon img {
  max-width: 100%;
}

.contact-item__icon_phone {
  margin: 0px 15px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
}

.contact-item__title {
  font-weight: 700;
  font-size: 30px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#009ED0), to(#2C344D));
  background-image: -o-linear-gradient(#009ED0, #2C344D);
  background-image: linear-gradient(#009ED0, #2C344D);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  background-color: #009ED0;
}

.contact-item__content {
  padding: 0px 0px 0px 50px;
  font-size: 20px;
  line-height: 24px;
  color: #2C344D;
  max-width: 300px;
}

.contact-item__content a {
  color: #2C344D;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .menu__link {
    -webkit-transition: color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s;
    transition: color 0.3s ease 0s;
  }

  .menu__link:hover {
    color: #007DA5;
  }

  .menu__link:hover::after {
    background-color: #007DA5;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .btn:hover {
    background: -o-radial-gradient(49.97% 0.23%, 144.49% 100.07%, #009ED0 0%, #0b6599 100%);
    background: radial-gradient(144.49% 100.07% at 49.97% 0.23%, #009ED0 0%, #0b6599 100%);
  }

  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (min-width: 2400px) {
  .contacts__location-mark img {
    left: 400px;
  }
}

@media (min-width: 3000px) {
  .contacts__location-mark img {
    left: 500px;
  }
}

@media (max-width: 1800px) {
  .slider.slick-slider .slick-dots {
    left: 150px;
  }

  .header__content {
    padding: 0px 0px 0px 150px;
  }

  .slider__content {
    max-width: 800px;
    padding: 340px 0px 0px 150px;
  }

  .about__content-container {
    width: 75%;
  }

  .about__content {
    max-width: 800px;
    padding: 340px 0px 100px 150px;
  }
}

@media (max-width: 1500px) {
  .btn {
    padding: 0px 50px;
    font-size: 20px;
  }

  .slider.slick-slider .slick-arrow.slick-prev {
    left: 20px;
  }

  .slider.slick-slider .slick-arrow.slick-next {
    right: 20px;
  }

  .slider.slick-slider .slick-dots {
    left: 100px;
  }

  .slider.slick-slider .slick-dots li button {
    width: 15px;
    height: 15px;
  }

  .header__content {
    padding: 0px 0px 0px 100px;
    height: 70px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }

  .slider__content {
    padding: 240px 0px 0px 100px;
  }

  .slider__title {
    margin: 0px 0px 30px 0px;
  }

  .slider__text {
    font-size: 20px;
  }

  .about {
    height: 800px;
  }

  .about__content-container::after {
    border-bottom: 800px solid rgba(255, 255, 255, 0.8);
  }

  .about__content {
    padding: 140px 0px 100px 100px;
  }
}

@media (max-width: 1300px) {
  .header__content {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__logo {
    margin: 0px 50px 0px 0px;
  }

  .menu__list {
    font-size: 16px;
  }

  .menu__list li {
    margin: 0px 50px 0px 0px;
  }

  .slider__content-container {
    width: 90%;
  }

  .slider__content {
    max-width: 600px;
  }

  .about__content-container {
    width: 95%;
  }

  .about__content {
    max-width: 800px;
  }
}

@media (max-width: 1200px) {
  .numbers-about__item {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 1190px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .footer__title {
    font-size: 20px;
  }

  .footer__column-content {
    font-size: 14px;
  }

  .social__item {
    width: 37px;
    height: 37px;
    background-size: 20px;
  }

  .slider__content-container {
    width: 100%;
  }

  .slider__content-container::after {
    border-right: 100px solid transparent;
  }

  .catalog {
    height: auto;
  }

  .catalog__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 750px;
            flex: 0 1 750px;
  }

  .catalog__btn {
    text-align: center;
  }

  .catalog__btn {
    padding: 0px 0px 150px 0px;
  }

  .about {
    height: auto;
  }

  .about__content-container {
    width: 100%;
  }

  .about__content-container::after {
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .about__content {
    max-width: 700px;
  }

  .numbers-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 800px) {
  .slider.slick-slider .slick-arrow {
    width: 0px;
    height: 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }

  .btn {
    height: 50px;
    line-height: 50px;
    padding: 0px 30px;
  }

  .section-heading {
    text-align: center;
  }

  .slider.slick-slider .slick-dots {
    position: relative;
    left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    bottom: 40px;
  }

  .header {
    position: fixed;
  }

  .header__content {
    height: 50px;
    max-width: 100%;
    background-color: #fff;
    padding: 0 10px;
  }

  .header__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    left: -120%;
    top: 0;
    background-color: #009ED0;
    padding: 120px 20px 0px 20px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    border-bottom: 50px solid #fff;
    border-right: 50px solid transparent;
  }

  .menu__body._active {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    font-size: 30px;
  }

  .menu__list li {
    margin: 0px 0px 40px 0px;
  }

  .menu__link {
    color: #fff;
  }

  .menu__link::after {
    height: 2px;
    width: 100%;
    background-color: #F79A1A;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    background-color: #fff;
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 100px 0px 100px 0px;
  }

  .footer__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__column_narrow {
    display: none;
  }

  .footer__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin: 0px 0px 30px 0px;
  }

  .footer__column:last-child {
    margin: 0;
  }

  .footer__title {
    margin: 0px 0px 8px 0px;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .slider__content-container::after {
    border: 0;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .slider__content {
    max-width: none;
    padding: 0px 10px 0px 10px;
    text-align: center;
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .slider__title {
    text-align: center;
    font-size: 30px;
    line-height: 35px;
  }

  .slider__text {
    text-align: left;
    text-align: center;
    font-size: 14px;
    line-height: 25px;
  }

  .catalog__title {
    padding: 150px 0px 0px 0px;
  }

  .why {
    padding: 90px 0px 90px 0px;
  }

  .why__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .why__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 70px 0px;
  }

  .item-why {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .about__content-container {
    padding: 100px 0px;
  }

  .about__content {
    max-width: none;
    padding: 0px 10px 0px 10px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .contacts__title {
    padding: 100px 0px 0px 0px;
    margin: 0px 0px 60px 0px;
  }

  .contact-item {
    margin: 0px 0px 60px 0px;
  }

  .contact-item__top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contact-item__content {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
}

@media (max-width: 479.98px) {
  .catalog__title {
    padding: 100px 0px 0px 0px;
  }

  .catalog__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin: 0px 0px 20px 0px;
  }

  .catalog__column:last-child {
    margin: 0px 0px 50px 0px;
  }

  .item-catalog {
    height: auto;
  }

  .item-catalog__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
    margin: 0px 30px 0px 0px;
  }

  .item-catalog__title {
    font-size: 16px;
  }

  .item-catalog__details {
    font-size: 15px;
  }

  .item-catalog__details li {
    margin: 0px 0px 8px 0px;
  }
}